In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\Shubham\\Desktop\\Python\\home-data-for-ml-course'

In [3]:
home_data = pd.read_csv('train.csv',index_col = 'Id')
test = pd.read_csv('test.csv',index_col = 'Id')

In [4]:
home_data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
# find the missing values
missing_values = home_data.isnull().sum()

In [6]:
missing_values  # gives all the columns with missing or nan values count

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 80, dtype: int64

In [7]:
type(missing_values)

pandas.core.series.Series

In [8]:
missing_values[missing_values>0]  # applying the condition to get only the missing values columns

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [9]:
home_data.shape

(1460, 80)

In [10]:
# the target which is to be predicted ---> remove the missing or nan values
# by considering whole dataframe
home_data.dropna(axis=0,subset=['SalePrice'],inplace=True)

In [11]:
home_data.shape

(1460, 80)

In [12]:
# creating or getting target from predictor
y = home_data.SalePrice   # series

In [13]:
# removing the target from predictor
home_data.drop(['SalePrice'],axis=1,inplace=True)

In [14]:
home_data.shape

(1460, 79)

In [15]:
# to keep things simple we will use only numerical predictors
X = home_data.select_dtypes(exclude=['object'])  # DataFrame
X_test = test.select_dtypes(exclude=['object'])

In [16]:
X.shape

(1460, 36)

In [17]:
# Break off validation set from train
from sklearn.model_selection import train_test_split

X_train,X_valid,y_train,y_valid = train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=0)

In [18]:
X_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
619,20,90.0,11694,9,5,2007,2007,452.0,48,0,...,774,0,108,0,0,260,0,0,7,2007
871,20,60.0,6600,5,5,1962,1962,0.0,0,0,...,308,0,0,0,0,0,0,0,8,2009
93,30,80.0,13360,5,7,1921,2006,0.0,713,0,...,432,0,0,44,0,0,0,0,8,2009
818,20,NaN,13265,8,5,2002,2002,148.0,1218,0,...,857,150,59,0,0,0,0,0,7,2008
303,20,118.0,13704,7,5,2001,2002,150.0,0,0,...,843,468,81,0,0,0,0,0,1,2006

In [19]:
y_train.head()

Id
619    314813
871    109500
93     163500
818    271000
303    205000
Name: SalePrice, dtype: int64

In [20]:
print(X_train.shape)

(1168, 36)

In [21]:
# now we should remove the nan values from the columns 
# for that we must know the columns which have the nan or missing values

missing_values_in_columns = X_train.isnull().sum()
missing_values_in_columns[missing_values_in_columns>0]

LotFrontage    212
MasVnrArea       6
GarageYrBlt     58
dtype: int64

In [22]:
# these many columns have the nan or missing values 
lst = [i for i in X_train.columns if X_train[i].isnull().any()]
lst

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [23]:
# now remove the nan or missing values from the X_train and X_valid dataframe
reduced_X_train = X_train.drop(lst,axis=1)
reduced_X_valid = X_valid.drop(lst,axis=1)

In [24]:
reduced_X_train.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
619,20,11694,9,5,2007,2007,48,0,1774,1822,...,774,0,108,0,0,260,0,0,7,2007
871,20,6600,5,5,1962,1962,0,0,894,894,...,308,0,0,0,0,0,0,0,8,2009
93,30,13360,5,7,1921,2006,713,0,163,876,...,432,0,0,44,0,0,0,0,8,2009
818,20,13265,8,5,2002,2002,1218,0,350,1568,...,857,150,59,0,0,0,0,0,7,2008
303,20,13704,7,5,2001,2002,0,0,1541,1541,...,843,468,81,0,0,0,0,0,1,2006

In [25]:
reduced_X_train.shape

(1168, 33)

In [26]:
# Train --> Predict ---> calculate mean absolute error

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
def check(X_train,X_valid,y_train,y_valid):
    model = RandomForestRegressor(n_estimators=100,random_state=0)
    model.fit(X_train,y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid,preds)

In [27]:
print(check(reduced_X_train,reduced_X_valid,y_train,y_valid))

17837.82570776256

In [28]:
# the above result is for removing the nan or missing values
# now checking with some other approach to minimize or reduce the MAE
# so this time removing the missing values with the mean value (Imputation)

In [29]:
# Imputation

from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
# this SimpleImputer is used to fill the missing or nan values 
# with either 'mean' or 'median'
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

In [30]:
imputed_X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,20.0,90.000000,11694.0,9.0,5.0,2007.0,2007.0,452.0,48.0,0.0,...,774.0,0.0,108.0,0.0,0.0,260.0,0.0,0.0,7.0,2007.0
1,20.0,60.000000,6600.0,5.0,5.0,1962.0,1962.0,0.0,0.0,0.0,...,308.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2009.0
2,30.0,80.000000,13360.0,5.0,7.0,1921.0,2006.0,0.0,713.0,0.0,...,432.0,0.0,0.0,44.0,0.0,0.0,0.0,0.0,8.0,2009.0
3,20.0,69.614017,13265.0,8.0,5.0,2002.0,2002.0,148.0,1218.0,0.0,...,857.0,150.0,59.0,0.0,0.0,0.0,0.0,0.0,7.0,2008.0
4,20.0,118.000000,13704.0,7.0,5.0,2001.0,2002.0,150.0,0.0,0.0,...,843.0,468.0,81.0,0.0,0.0,0.0,0.0,0.0,1.0,2006.0

In [31]:
# as we can see above the imputation remove the columns names
# to put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

In [32]:
# see that our imputed_X_train have columns now
imputed_X_train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,20.0,90.000000,11694.0,9.0,5.0,2007.0,2007.0,452.0,48.0,0.0,...,774.0,0.0,108.0,0.0,0.0,260.0,0.0,0.0,7.0,2007.0
1,20.0,60.000000,6600.0,5.0,5.0,1962.0,1962.0,0.0,0.0,0.0,...,308.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2009.0
2,30.0,80.000000,13360.0,5.0,7.0,1921.0,2006.0,0.0,713.0,0.0,...,432.0,0.0,0.0,44.0,0.0,0.0,0.0,0.0,8.0,2009.0
3,20.0,69.614017,13265.0,8.0,5.0,2002.0,2002.0,148.0,1218.0,0.0,...,857.0,150.0,59.0,0.0,0.0,0.0,0.0,0.0,7.0,2008.0
4,20.0,118.000000,13704.0,7.0,5.0,2001.0,2002.0,150.0,0.0,0.0,...,843.0,468.0,81.0,0.0,0.0,0.0,0.0,0.0,1.0,2006.0

In [33]:
print('checking with other approach, MAE is : ')
print(check(imputed_X_train,imputed_X_valid,y_train,y_valid))

checking with other approach, MAE is :
18062.894611872147

In [34]:
'''Filling the missing values with 'mean' is considered good instead 
of removing the columns which are having some missing values.
But as we can see from our two approached that 2nd approach is 
is not good as per the dataset given'''

"Filling the missing values with 'mean' is considered good instead \nof removing the columns which are having some missing values.\nBut as we can see from our two approached that 2nd approach is \nis not good as per the dataset given"

In [35]:
# now considering one more approach(3rd) ---> 'median'
# preprocessed training and validation features
final_imputer = SimpleImputer(strategy='median')
final_X_train = pd.DataFrame(final_imputer.fit_transform(X_train))
final_X_valid = pd.DataFrame(final_imputer.transform(X_valid))
# imputation removes columns name, put them back
final_X_train.columns = X_train.columns
final_X_valid.columns = X_valid.columns

In [36]:
print('check with 3rd approach, MAE is : ')
print(check(final_X_train,final_X_valid,y_train,y_valid))

check with 3rd approach, MAE is :
17791.59899543379

In [37]:
'''By comparing all approaches it is seen that our 3rd approach('median') 
is good as it gives less mean absolute error'''

"By comparing all approaches it is seen that our 3rd approach('median') \nis good as it gives less mean absolute error"

In [38]:
# now we will make the separate model for the better approach
# because we will soon use the trained model to generate test predictions

# Define and fit model
model = RandomForestRegressor(n_estimators = 100, random_state=0)
model.fit(final_X_train,y_train)

# get validation predictions and MAE
preds_valid = model.predict(final_X_valid)

# checking the mean absolute error
print('MAE is : ')
print(mean_absolute_error(y_valid,preds_valid))

MAE is :
17791.59899543379

In [39]:
# now analysing our test data for prediction 
X_test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,730.0,140,0,0,0,120,0,0,6,2010
1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,312.0,393,36,0,0,0,0,12500,6,2010
1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,482.0,212,34,0,0,0,0,0,3,2010
1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,470.0,360,36,0,0,0,0,0,6,2010
1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,506.0,0,82,0,0,144,0,0,1,2010

In [40]:
test_missing = X_test.isnull().sum()  # series
test_missing[test_missing>0]

LotFrontage     227
MasVnrArea       15
BsmtFinSF1        1
BsmtFinSF2        1
BsmtUnfSF         1
TotalBsmtSF       1
BsmtFullBath      2
BsmtHalfBath      2
GarageYrBlt      78
GarageCars        1
GarageArea        1
dtype: int64

# finally
firstly set the preprocessed test features to final_X_test.

Then, use the preprocessed test features and the trained model to generate test predictions in preds_test.

In order for this step to be marked correct, you need only ensure:

1. the preprocessed test DataFrame has no missing values, and
2. final_X_test has the same number of rows as X_test.

In [41]:
final_X_test = pd.DataFrame(final_imputer.fit_transform(X_test))
# imputation remove the columns name, put them back
final_X_test.columns = X_test.columns

In [42]:
preds_test = model.predict(final_X_test)

In [43]:
# Save test predictions to file
output = pd.DataFrame({'Id':X_test.index,
                      'SalePrice':preds_test})
output.to_csv('prediction_by_own.csv',index=False)